In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

### IowaHouse.csv file exported from Redistricter.com

In [2]:
# Read in csv file
iowa_house = pd.read_csv('Files/IowaHouse.csv')

In [3]:
iowa_house.head()

,District ID,id,Pop20,DHouseholds,DTotal_Income,DArea,DSumAge,DTotal_Rent,DTotalCom,D20Minus,...,G12PreR,G12PreD,G12PreO,G24GuessD,G24GuessR,G28GuessD,G28GuessR,DNonVet,GBuildD,GBuildR
0,1,1,32022,11899,786724478,36498,1138579,9932324,249583,9810,...,3859,7133,163,5451,4969,5331,5093,0,0,0
1,2,2,31969,11702,914364857,250496,1148756,10758007,292345,9635,...,6537,6575,263,5913,7151,6073,6988,0,0,0
2,3,3,31928,12060,1025518473,2167466,1232066,10114641,256472,9164,...,11156,4146,125,4052,12635,4053,12636,0,0,0
3,4,4,31733,10996,962038944,2410271,1159725,9992883,245944,10349,...,13116,2484,113,2497,14393,2442,14447,0,0,0
4,5,5,31904,13057,985875262,3728812,1321892,8871181,286748,8370,...,10804,5402,151,4192,12513,4121,12585,0,0,0

In [4]:
iowa_house.shape

(100, 257)

In [5]:
# Create function to predict Iowa population in 2030 using the average census rate of change from 1990 to 2020
def predict_population_2030(census_1990, census_2000, census_2010, census_2020):
    rate_1990_2000 = (census_2000 - census_1990) / census_1990
    rate_2000_2010 = (census_2010 - census_2000) / census_2000
    rate_2010_2020 = (census_2020 - census_2010) / census_2010
    
    avg_rate_of_change = (rate_1990_2000 + rate_2000_2010 + rate_2010_2020) / 3
    
    predicted_population_2030 = census_2020 * (1 + avg_rate_of_change)
    
    return predicted_population_2030

In [6]:
# Create new column with the predicted 2030 population per house district
iowa_house['pop_pred_2030'] = predict_population_2030(iowa_house.iloc[:,63], iowa_house.iloc[:,54], iowa_house.iloc[:,43], iowa_house.iloc[:,2])

In [7]:
# Total predicted Iowa 2030 population
sum_pop_pred30 = iowa_house['pop_pred_2030'].sum()
print(sum_pop_pred30)

3474815.6994075156

In [8]:
iowa_house.head()

,District ID,id,Pop20,DHouseholds,DTotal_Income,DArea,DSumAge,DTotal_Rent,DTotalCom,D20Minus,...,G12PreD,G12PreO,G24GuessD,G24GuessR,G28GuessD,G28GuessR,DNonVet,GBuildD,GBuildR,pop_pred_2030
0,1,1,32022,11899,786724478,36498,1138579,9932324,249583,9810,...,7133,163,5451,4969,5331,5093,0,0,0,32493.883335
1,2,2,31969,11702,914364857,250496,1148756,10758007,292345,9635,...,6575,263,5913,7151,6073,6988,0,0,0,33207.568625
2,3,3,31928,12060,1025518473,2167466,1232066,10114641,256472,9164,...,4146,125,4052,12635,4053,12636,0,0,0,33238.121067
3,4,4,31733,10996,962038944,2410271,1159725,9992883,245944,10349,...,2484,113,2497,14393,2442,14447,0,0,0,33526.792287
4,5,5,31904,13057,985875262,3728812,1321892,8871181,286748,8370,...,5402,151,4192,12513,4121,12585,0,0,0,30968.149919

In [9]:
# Subsetting to District ID and pop_pred_2030 columns
ia_pop_2030_lh = iowa_house[['District ID', 'pop_pred_2030']]

In [10]:
ia_pop_2030_lh.head()

   District ID  pop_pred_2030
0            1   32493.883335
1            2   33207.568625
2            3   33238.121067
3            4   33526.792287
4            5   30968.149919

In [11]:
## Save to csv
# ia_pop_2030_lh.to_csv('ia_pop_2030_lh.csv', index=False)