In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

### IowaSenate.csv file exported from Redistricter.com

In [2]:
# Read in csv file
iowa_senate = pd.read_csv('Files/IowaSenate.csv')

In [3]:
iowa_senate.head()

,District ID,id,Pop20,DHouseholds,DTotal_Income,DArea,DSumAge,DTotal_Rent,DTotalCom,D20Minus,...,G12PreR,G12PreD,G12PreO,G24GuessD,G24GuessR,G28GuessD,G28GuessR,DNonVet,GBuildD,GBuildR
0,1,1,63991,23601,1701089335,286994,2287335,20690331,541928,19445,...,10396,13708,426,11364,12120,11404,12081,0.0,0.0,0.0
1,2,2,63661,23056,1987557417,4577737,2391791,20107524,502416,19513,...,24272,6630,238,6549,27028,6495,27083,0.0,0.0,0.0
2,3,3,63782,25713,1896055347,5781659,2556913,18360046,531304,17326,...,18670,11442,313,9128,21598,9031,21696,0.0,0.0,0.0
3,4,4,63818,26701,1954566216,6313955,2630996,17941222,566092,15678,...,16852,15419,318,9795,22120,8935,22980,NaN,NaN,NaN
4,5,5,63895,27440,2109643003,7558454,2733893,20685471,535021,15508,...,19713,15557,323,11537,25381,11004,25913,0.0,0.0,0.0

In [4]:
iowa_senate.shape

(50, 257)

In [5]:
# Create function to predict Iowa population in 2030 using the average census rate of change from 1990 to 2020
def predict_population_2030(census_1990, census_2000, census_2010, census_2020):
    rate_1990_2000 = (census_2000 - census_1990) / census_1990
    rate_2000_2010 = (census_2010 - census_2000) / census_2000
    rate_2010_2020 = (census_2020 - census_2010) / census_2010
    
    avg_rate_of_change = (rate_1990_2000 + rate_2000_2010 + rate_2010_2020) / 3
    
    predicted_population_2030 = census_2020 * (1 + avg_rate_of_change)
    
    return predicted_population_2030

In [6]:
# Create new column with the predicted 2030 population per senate district
iowa_senate['pop_pred_2030'] = predict_population_2030(iowa_senate.iloc[:,63], iowa_senate.iloc[:,54], iowa_senate.iloc[:,43], iowa_senate.iloc[:,2])

In [7]:
# Total predicted Iowa 2030 population
sum_pop_pred30 = iowa_senate['pop_pred_2030'].sum()
print(sum_pop_pred30)

3451644.440815044

In [8]:
iowa_senate.head()

,District ID,id,Pop20,DHouseholds,DTotal_Income,DArea,DSumAge,DTotal_Rent,DTotalCom,D20Minus,...,G12PreD,G12PreO,G24GuessD,G24GuessR,G28GuessD,G28GuessR,DNonVet,GBuildD,GBuildR,pop_pred_2030
0,1,1,63991,23601,1701089335,286994,2287335,20690331,541928,19445,...,13708,426,11364,12120,11404,12081,0.0,0.0,0.0,65665.274533
1,2,2,63661,23056,1987557417,4577737,2391791,20107524,502416,19513,...,6630,238,6549,27028,6495,27083,0.0,0.0,0.0,66755.037055
2,3,3,63782,25713,1896055347,5781659,2556913,18360046,531304,17326,...,11442,313,9128,21598,9031,21696,0.0,0.0,0.0,63008.709124
3,4,4,63818,26701,1954566216,6313955,2630996,17941222,566092,15678,...,15419,318,9795,22120,8935,22980,NaN,NaN,NaN,61279.371175
4,5,5,63895,27440,2109643003,7558454,2733893,20685471,535021,15508,...,15557,323,11537,25381,11004,25913,0.0,0.0,0.0,62214.014674

In [9]:
# Subsetting to District ID and pop_pred_2030 columns
ia_pop_2030_uh = iowa_senate[['District ID', 'pop_pred_2030']]

In [10]:
ia_pop_2030_uh.head()

   District ID  pop_pred_2030
0            1   65665.274533
1            2   66755.037055
2            3   63008.709124
3            4   61279.371175
4            5   62214.014674

In [11]:
ia_pop_2030_uh.shape

(50, 2)

In [12]:
## Save to csv
# ia_pop_2030_uh.to_csv('ia_pop_2030_uh.csv', index=False)